<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <!-- TCP канал с шифрованием AES -->
        <channel ref="tcp" port="0" secure="true" encryption="aes" protectionLevel="EncryptAndSign">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>

        <!-- HTTP канал с SSL -->
        <channel ref="http" port="0" secure="true" useSsl="true" protectionLevel="EncryptAndSign">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- Дополнительные настройки безопасности -->
  <runtime>
    <enforceFIPSPolicy enabled="false"/>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>