<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <activated type="RemoteObjects.User, RemoteObjects"/>
        <activated type="RemoteObjects.Goods, RemoteObjects"/>
        <activated type="RemoteObjects.GoodsAdm, RemoteObjects"/>
      </service>
      <channels>
        <!-- TCP канал на порту 8086 с шифрованием AES -->
        <channel ref="tcp" port="8086" secure="true" encryption="aes" protectionLevel="EncryptAndSign">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>

        <!-- HTTP канал на порту 8087 с SSL -->
        <channel ref="http" port="8087" secure="true" useSsl="true" protectionLevel="EncryptAndSign">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>